WEB_IMAGE=alexmahone/fastapi-dockerswarm-test-api
WEB_IMAGE_TAG=latest
WEB_REPLICAS=2
WEB_CPU_LIMIT=2.0
WEB_RAM_LIMIT=4G

POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_CPU_LIMIT=2.0
POSTGRES_RAM_LIMIT=8G
