WEB_IMAGE=alexmahone/fastapi-dockerswarm-test-api
WEB_IMAGE_TAG=latest
WEB_REPLICAS=2
WEB_CPU_LIMIT=2.0
WEB_RAM_LIMIT=4G
WEB_PORT=8000

POSTGRES_IMAGE=postgres
POSTGRES_IMAGE_TAG=16.3-alpine
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_REPLICAS=1
POSTGRES_CPU_LIMIT=2.0
POSTGRES_RAM_LIMIT=8G

PORTAINER_AGENT_IMAGE=portainer/agent
PORTAINER_AGENT_IMAGE_TAG=latest
PORTAINER_IMAGE=portainer/portainer-ce
PORTAINER_IMAGE_TAG=latest
PORTAINER_HTTPS_PORT=9443
PORTAINER_HTTP_PORT=9000
