FASTAPI_TITLE="FastAPI Test API"
FASTAPI_DESCRIPTION="FastAPI Test API description."
FASTAPI_DEBUG=0
FASTAPI_VERSION="0.0.1"
FASTAPI_DOCS_URL="/docs"
FASTAPI_REDOC_URL="/redoc"
FASTAPI_OPENAPI_URL="/openapi.json"
